In [4]:
import pandas as pd
pd.__version__

'2.2.2'

df = pd.read_csv("cats.csv")

In [12]:
df.columns

NameError: name 'df' is not defined

In [14]:
df.drop(['Unnamed: 0'], inplace=True, axis=1)

NameError: name 'df' is not defined

In [16]:
df.head()

NameError: name 'df' is not defined

In [18]:
sample_row = df.iloc [98]
print (sample_row)

NameError: name 'df' is not defined

In [20]:
sample_row = df.iloc [42]
print (sample_row)

NameError: name 'df' is not defined

In [12]:
df.loc[len(df)] = ["Orange Tabby", 3, 5, "Orange", "Male", len(df)]

In [13]:
df['Weight (lbs)'] = df['Weight (kg)'] * 2.205

In [14]:
df.tail()

,Breed,Age (Years),Weight (kg),Color,Gender,ID,Weight (lbs)
996,Burmese,4,5,Pointed,Female,339,11.025
997,Persian,19,9,Cream,Male,659,19.845
998,Persian,17,3,Bicolor,Female,124,6.615
999,Manx,18,8,Black,Male,226,17.640
1000,Orange Tabby,3,5,Orange,Male,1000,11.025