In [33]:
import pandas as pd
pandas.__version__

'2.2.2'

In [45]:
df = pd.read_csv("cats.csv")

In [55]:
df.columns

Index(['Unnamed: 0', 'Breed', 'Age (Years)', 'Weight (kg)', 'Color', 'Gender',
       'ID'],
      dtype='object')

In [57]:
df.drop(['Unnamed: 0'], inplace=True, axis=1)

In [59]:
df.head()

           Breed  Age (Years)  Weight (kg)          Color  Gender   ID
0   Egyptian Mau           12            7          White    Male  181
1  Scottish Fold           17            8  Tortoiseshell    Male  907
2         Sphynx            9            9         Orange    Male  732
3       Oriental            6            7           Gray  Female  464
4       Savannah           14            7  Tortoiseshell  Female  451