# Choose a Data Set

You can choose to analyze any data that you would like! Remember, you need 1000 rows of non-null data in order to get 5 points for the "Data" criteria of my [rubric](https://docs.google.com/document/d/1s3wllcF3LLnytxwD8mZ-BCypXKnfaahnizWGNojT-B4/edit?usp=sharing). Consider looking at [Kaggle](https://www.kaggle.com/datasets) or [free APIs](https://free-apis.github.io/#/browse) for datasets of this size. Alternatively, you can scrape the web to make your own dataset! :D

Once you have chosen your dataset, please read your data into a dataframe and call `.info()` below. If you don't call `info` I will give you 0 points for the first criteria described on the [rubric](https://docs.google.com/document/d/1s3wllcF3LLnytxwD8mZ-BCypXKnfaahnizWGNojT-B4/edit?usp=sharing).

In [19]:
import pandas as pd

In [21]:
df = pd.read_csv('valorant_games.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   game_id        1000 non-null   int64
 1   episode        1000 non-null   int64
 2   act            1000 non-null   int64
 3   rank           1000 non-null   object
 4   date           1000 non-null   object
 5   agent          1000 non-null   object
 6   map            1000 non-null   object
 7   outcome        1000 non-null   object
 8   round_wins     1000 non-null   int64
 9   round_losses   1000 non-null   int64
 10  kills          1000 non-null   int64
 11  deaths         1000 non-null   int64
 12  assists        1000 non-null   int64
 13  kdr            1000 non-null   float64
 14  avg_dmg_delta  1000 non-null   int64
 15  headshot_pct   1000 non-null   int64
 16  avg_dmg        1000 non-null   int64
 17  acs            1000 non-null   int64
 18  num_frag       1000 non-null   int64
dtypes: float64(1), int64(13), object(5)
memory usage: 148.6+ KB

In [23]:
df

,game_id,episode,act,rank,date,agent,map,outcome,round_wins,round_losses,kills,deaths,assists,kdr,avg_dmg_delta,headshot_pct,avg_dmg,acs,num_frag
0,1,6,2,Placement,4/11/2023,Cypher,Ascent,Loss,5,13,8,15,4,0.5,-61,3,76,125,3
1,2,6,2,Placement,4/12/2023,Cypher,Icebox,Loss,4,13,3,15,2,0.2,-124,22,42,59,5
2,3,6,2,Placement,4/15/2023,KAY/O,Lotus,Win,13,4,7,12,7,0.6,-46,2,87,132,5
3,4,6,2,Placement,4/15/2023,Brimstone,Ascent,Loss,9,13,18,12,10,1.5,23,14,137,230,2
4,5,6,2,Placement,4/15/2023,Cypher,Haven,Loss,1,13,6,14,3,0.4,-75,7,90,146,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,9,3,Diamond 2,11/11/2024,Astra,Pearl,Win,13,9,17,13,8,1.3,30,19,133,212,4
996,997,9,3,Diamond 2,11/11/2024,Omen,Ascent,Loss,11,13,27,14,11,1.9,41,28,176,299,1
997,998,9,3,Diamond 2,11/11/2024,Astra,Pearl,Loss,6,13,12,16,5,0.8,0,47,143,194,2
998,999,9,3,Diamond 2,11/12/2024,Omen,Split,Win,13,10,18,13,8,1.4,26,31,134,214,5
999,1000,9,3,Diamond 2,11/12/2024,Viper,Bind,Loss,7,13,8,17,4,0.5,-71,18,87,130,4

# My Question

### Write your question here.

# My Analysis

In [33]:
frequency_table_percentages = df['agent'].value_counts(normalize=True) * 100
frequency_table_percentages

agent
Cypher       71.9
Killjoy      23.0
Viper         1.7
Omen          1.0
KAY/O         0.9
Brimstone     0.5
Breach        0.3
Vyse          0.3
Astra         0.2
Phoenix       0.1
Fade          0.1
Name: proportion, dtype: float64

# My Answer

### Write your answer here.